@{
    ViewData["Title"] = "Index";
}

<link href="~/css/style.css" rel="stylesheet" />

<div class="row">

    <div class="col-md-4 col-sm-4 ">
        <div class="" style="">
            <div class="card">
                <div class="card-header" style="background-color: #2a3f54;color: #fff; height:3rem;">
                    <div class="card-title" style="font-weight:bold;">Customer Report</div>
                </div>
                <div class="card-body">

                    <div class="container">

                        <div id="divDError">
                            @if (TempData["ErrorDateReport"] != null)
                            {
                                <div class="alert alert-danger" role="alert" id="error">
                                    @TempData["ErrorDateReport"].ToString()
                                </div>
                            }
                        </div>
                        <div class="clear">

                            <div style="display:none;" id="dvError">
                                <div class="alert alert-danger" role="alert">
                                    <h6 id="info"></h6>
                                </div>
                            </div>

                            <div style="display:none;" id="dvSuccess">
                                <div class="alert alert-success" role="alert">
                                    <h6 id="passwordChangeSuccess"></h6>
                                </div>
                            </div>
                            <form action="~/CustomerReport/GenerateCustomerReport/" method="post">

                                <div class=" form-group">
                                    <label class="  label-align" for="first-name">
                                        Select Date From <span class="required">*</span>
                                    </label>
                                    <div class="">
                                        <input type="date" class="form-control myinputs" name="DateFrom" />

                                    </div>
                                </div>

                                <div class=" form-group">
                                    <label class="  label-align" for="first-name">
                                        Select Date To <span class="required">*</span>
                                    </label>
                                    <div class="">
                                        <input type="date" class="form-control myinputs" name="DateTo" />

                                    </div>
                                </div>
                                           

                                <div class=" form-group">
                                    <div class="">
                                        <input type="submit" class=" btn btn-primary col-md-12 myinputs" value="Download ">
                                    </div>
                                </div>
                            </form>

                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

</div>




<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<script>

    $('#divDError').delay(1000).hide(3000);

    $('#divErrorGen').delay(1000).hide(3000);

    $('#divErrorCategory').delay(1000).hide(3000);

    function getit() {
        var data = new FormData("getClientData", { Department: "Finance" });
        ajax("ClientSection", data, function (RTN) {
            var jsFinance = jparse(RTN);
        });

        console.log(jsFinance);

    }



    $('#btnCreateLead').click(function (evt) {

        // Stop the button from submitting the form:
        evt.preventDefault();
        // Serialize the entire form:
        var data = new FormData(this.form);

        //var data = new FormData("getClientData", { Department: "Finance" });

        var data = new FormData($(frmUpdateLeads).get(0));


        ajax("ClientSection", data, function (RTN) {
            var jsFinance = jparse(RTN);
        });

        console.log(jsFinance);

    })



</script>