
@{
    ViewData["Title"] = "UpdatePassword";
    Layout = "~/Views/Shared/_ReceptionistLayout.cshtml";
}


<link href="~/css/style.css" rel="stylesheet" />



<div class=" x_panel">
    <div class="col-md-10 my-auto">
        <h4 class="header">
            Manage My Account
        </h4>
        <p>
            <span class="text-primary">User Account</span> <span> <i class="fa fa-angle-double-right"></i> </span>  <span>Manage Account</span>
        </p>

    </div>

    <div class="col-md-2 py-2 my-auto">

        <div class="col-md-12 text-center text-bold">
            @*<a class="pull-right" href="/Reception/Patients/RegisterPatient/">
                    <span class="m-0 p-0 text-dark"><i class="fa fa-2x fa-user" aria-hidden="true"></i></span>
                    <h6 class="">Register Patient</h6>
                </a>*@
        </div>
    </div>
</div>


<div class="x_panel col-md-6 panel ">
    <div class="container">

        <div class="">

            <div>
                <h6 id="UpdatePasswordModalLabel">Change Password</h6>

            </div>
            <br />
            <form id="frmChangePassword">


                <div class="row">
                    <div class="data-table-block col-md-12">


                        <div style="display:none;" id="dvError">
                            <div class="alert alert-danger" role="alert">
                                <h6 id="info"></h6>
                            </div>
                        </div>


                        <div class="form-group">
                            <label>Current Password</label>
                            <input type="password" class="form-control" id="txtCurrentPassword" name="CurrentPassword">
                        </div>

                        <div class="form-group">
                            <label>New Password</label>
                            <input type="password" class="form-control" id="txtNewPassword" name="NewPassword">
                        </div>

                        <div class="form-group">
                            <label>Confirm Password</label>
                            <input type="password" class="form-control" id="txtConfirmPassword" name="ConfirmPassword">
                        </div>

                        <div class="modal-footer">

                            <button type="button" id="btnSubmit" class="btn btn-primary">Submit</button>
                        </div>

                    </div>

                </div>

            </form>
        </div>
    </div>
</div>





<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<link href="~/SweetAlart/sweetalert.min.css" rel="stylesheet" />
<script src="~/SweetAlart/sweetalert.min.js"></script>

<style>
    .panel {
        border-radius: 15px;
        box-shadow: 0px 2px 5px rgb(0 0 0 / 10%);
    }
</style>

<script type="text/javascript">

    function ShowLoader() {

        $("#loadMe").modal('show');
    }

    function HideLoader() {

        $("#loadMe").modal('hide');
    }

    $("#btnSubmit").click(function () {
        //debugger


        if ($('#txtCurrentPassword').val() == '') {

            $('#txtCurrentPassword').focus();

            $("#dvError").show();

            $("#info").text("Current password is required");

            return false;
        }


        if ($('#txtNewPassword').val() == '') {

            $('#txtNewPassword').focus();

            $("#dvError").show();

            $("#info").text("New password is required");

            return false;
        }


        if ($('#txtConfirmPassword').val() == '') {

            $('#txtConfirmPassword').focus();

            $("#dvError").show();

            $("#info").text("Confirm password is required");

            return false;
        }


        if ($('#txtNewPassword').val() != $('#txtConfirmPassword').val()) {

            $('#txtNewPassword').focus();

            $("#dvError").show();

            $("#info").text("Password and confirm password do not match");

            return false;
        }


        var data = $("#frmChangePassword").serialize();

        $.ajax({

            type: "POST",

            url: "/Admin/UserManager/UpdatePassword/",

            data: data,

            beforeSend: function () { ShowLoader(); },

            success: function (response) {

                if (response.success) {

                    swal({
                        position: 'top-end',

                        type: "success",

                        title: response.responseText,

                        showConfirmButton: false,

                    }), setTimeout(function () { window.location = "@Url.Action("Logout","Account", new { area="" })"; }, 3000);



                } else {

                    $("#dvError").show();

                    $("#info").text(response.responseText);

                }
            },

            error: function (response) {
                alert("error!");  //

            },
            complete: function () {
                HideLoader();
            }
        })

    })


</script>

