@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid">

    <!-- Page Heading -->
    <!-- Content Row -->
    @*<div class="row">
    <div class="content">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Admin Dashboard</h1>
    </div>
    </div>
    </div>
    *@


    <div class="row">

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Active Principal Members
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">ActivePrincipals</div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Active Dependants
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">ActiveDependants</div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Awaiting Underwriting
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">PendingUnderwriting</div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-folder fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Suspended Members
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Suspended</div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-home fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-delete shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-delete text-uppercase mb-1">
                                Delete Requests
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Delete</div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-tree fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Edit Requests
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">EditRequest</div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-edit fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Active NPS Members
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">ActiveNpsMembers</div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Awaiting Underwriting (NPS)
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">PendingNpsMembers</div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-folder fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <!-- Content Row -->
    @*
    <div class="row">

    <!-- Area Chart -->
    <div class="col-xl-8 col-lg-7">
    <div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <h6 class="m-0 font-weight-bold text-primary">Support Desk</h6>

    </div>
    <!-- Card Body -->
    <div class="card-body">
    <div class="chart-area">
    <div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
    <canvas id="myAreaChart" width="550" height="400" style="display: block; height: 320px; width: 440px;" class="chartjs-render-monitor"></canvas>
    </div>
    </div>
    </div>
    </div>

    <!-- Pie Chart -->
    <div class="col-xl-4 col-lg-5">
    <div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <h6 class="m-0 font-weight-bold text-primary">Edit Request</h6>
    <div class="dropdown no-arrow">
    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
    </a>
    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
    <div class="dropdown-header">Dropdown Header:</div>
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Something else here</a>
    </div>
    </div>
    </div>
    <!-- Card Body -->
    <div class="card-body">
    <div class="chart-pie pt-4 pb-2">
    <div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
    <canvas id="myPieChart" width="550" height="306" style="display: block; height: 245px; width: 440px;" class="chartjs-render-monitor"></canvas>
    </div>
    <div class="mt-4 text-center small">
    <span class="mr-2">
    <i class="fa fa-circle text-primary"></i> Direct
    </span>
    <span class="mr-2">
    <i class="fa fa-circle text-success"></i> Social
    </span>
    <span class="mr-2">
    <i class="fa fa-circle text-info"></i> Referral
    </span>
    </div>
    </div>
    </div>
    </div>
    </div>*@

    <!-- Content Row -->
    @*<div class="row">

    <!-- Content Column -->
    <div class="col-lg-6 mb-4">

    <!-- Project Card Example -->
    <div class="card shadow mb-4">
    <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Projects</h6>
    </div>
    <div class="card-body">
    <h4 class="small font-weight-bold">Server Migration <span class="float-right">20%</span></h4>
    <div class="progress mb-4">
    <div class="progress-bar bg-danger" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <h4 class="small font-weight-bold">Sales Tracking <span class="float-right">40%</span></h4>
    <div class="progress mb-4">
    <div class="progress-bar bg-warning" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <h4 class="small font-weight-bold">Customer Database <span class="float-right">60%</span></h4>
    <div class="progress mb-4">
    <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <h4 class="small font-weight-bold">Payout Details <span class="float-right">80%</span></h4>
    <div class="progress mb-4">
    <div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <h4 class="small font-weight-bold">Account Setup <span class="float-right">Complete!</span></h4>
    <div class="progress">
    <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    </div>
    </div>

    <!-- Color System -->
    <div class="row">
    <div class="col-lg-6 mb-4">
    <div class="card bg-primary text-white shadow">
    <div class="card-body">
    Primary
    <div class="text-white-50 small">#4e73df</div>
    </div>
    </div>
    </div>
    <div class="col-lg-6 mb-4">
    <div class="card bg-success text-white shadow">
    <div class="card-body">
    Success
    <div class="text-white-50 small">#1cc88a</div>
    </div>
    </div>
    </div>
    <div class="col-lg-6 mb-4">
    <div class="card bg-info text-white shadow">
    <div class="card-body">
    Info
    <div class="text-white-50 small">#36b9cc</div>
    </div>
    </div>
    </div>
    <div class="col-lg-6 mb-4">
    <div class="card bg-warning text-white shadow">
    <div class="card-body">
    Warning
    <div class="text-white-50 small">#f6c23e</div>
    </div>
    </div>
    </div>
    <div class="col-lg-6 mb-4">
    <div class="card bg-danger text-white shadow">
    <div class="card-body">
    Danger
    <div class="text-white-50 small">#e74a3b</div>
    </div>
    </div>
    </div>
    <div class="col-lg-6 mb-4">
    <div class="card bg-secondary text-white shadow">
    <div class="card-body">
    Secondary
    <div class="text-white-50 small">#858796</div>
    </div>
    </div>
    </div>
    <div class="col-lg-6 mb-4">
    <div class="card bg-light text-black shadow">
    <div class="card-body">
    Light
    <div class="text-black-50 small">#f8f9fc</div>
    </div>
    </div>
    </div>
    <div class="col-lg-6 mb-4">
    <div class="card bg-dark text-white shadow">
    <div class="card-body">
    Dark
    <div class="text-white-50 small">#5a5c69</div>
    </div>
    </div>
    </div>
    </div>

    </div>

    <div class="col-lg-6 mb-4">

    <!-- Illustrations -->
    <div class="card shadow mb-4">
    <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Illustrations</h6>
    </div>
    <div class="card-body">
    <div class="text-center">
    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="img/undraw_posting_photo.svg" alt="...">
    </div>
    <p>
    Add some quality, svg illustrations to your project courtesy of <a target="_blank" rel="nofollow" href="https://undraw.co/">unDraw</a>, a
    constantly updated collection of beautiful svg images that you can use
    completely free and without attribution!
    </p>
    <a target="_blank" rel="nofollow" href="https://undraw.co/">
    Browse Illustrations on
    unDraw →
    </a>
    </div>
    </div>

    <!-- Approach -->
    <div class="card shadow mb-4">
    <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Development Approach</h6>
    </div>
    <div class="card-body">
    <p>
    SB Admin 2 makes extensive use of Bootstrap 4 utility classes in order to reduce
    CSS bloat and poor page performance. Custom CSS classes are used to create
    custom components and custom utility classes.
    </p>
    <p class="mb-0">
    Before working with this theme, you should become familiar with the
    Bootstrap framework, especially the utility classes.
    </p>
    </div>
    </div>

    </div>
    </div>*@

</div>


@*
<div class="row gx-5">
	<div class="col-lg-4 col-sm-6 mb-5">
		<!-- Billing card 1-->
		<div class="card card-raised h-100">
			<div class="card-body">
				<div class="overline text-muted">Current monthly bill</div>
				<div class="fs-4 mb-2">$20.00</div>
			</div>
			<div class="card-footer position-relative d-flex align-items-center justify-content-between ripple-primary bg-transparent mdc-ripple-upgraded">
				<a class="card-link text-decoration-none stretched-link" href="#!">Switch to monthly billing</a>
				<i class="material-icons text-primary">arrow_forward</i>
			</div>
		</div>
	</div>
	<div class="col-lg-4 col-sm-6 mb-5">
		<!-- Billing card 2-->
		<div class="card card-raised h-100">
			<div class="card-body">
				<div class="overline text-muted">Next payment due</div>
				<div class="fs-4 mb-2">July 15</div>
			</div>
			<div class="card-footer position-relative d-flex align-items-center justify-content-between ripple-primary bg-transparent mdc-ripple-upgraded">
				<a class="card-link text-decoration-none stretched-link" href="#!">View payment history</a>
				<i class="material-icons text-primary">arrow_forward</i>
			</div>
		</div>
	</div>
	<div class="col-lg-4 col-sm-6 mb-5">
		<!-- Billing card 3-->
		<div class="card card-raised bg-primary text-white h-100">
			<div class="card-body">
				<div class="overline text-white-50">Current plan</div>
				<div class="fs-4 mb-2">Freelancer</div>
			</div>
			<div class="card-footer position-relative d-flex align-items-center justify-content-between ripple-light mdc-ripple-upgraded">
				<a class="card-link text-white text-decoration-none stretched-link" href="#!">Upgrade plan</a>
				<i class="material-icons text-white">upgrade</i>
			</div>
		</div>
	</div>
</div>
*@



<style>
    .border-left-primary {
        border-left: 0.25rem solid #4e73df !important;
    }

    .border-left-success {
        border-left: 0.25rem solid #1cc88a !important;
    }

    .border-left-warning {
        border-left: 0.25rem solid #f6c23e !important;
    }

    .border-left-delete {
        border-left: 0.25rem solid #d74418 !important;
    }

    .pb-2, .py-2 {
        padding-bottom: 0.5rem !important;
    }

    .pt-2, .py-2 {
        padding-top: 0.5rem !important;
    }

    .h-100 {
        height: 100% !important;
    }

    .shadow {
        box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15) !important;
    }
</style>